<div class="container-fluid full-height">
  <div class="row">
    <mat-nav-list class="text-white col-md-2 side-bar">
      <mat-list-item>Обзор</mat-list-item>
      <mat-list-item>Участники</mat-list-item>
      <mat-list-item>Сетка</mat-list-item>
      <mat-list-item>Правила</mat-list-item>
      <mat-list-item routerLink="../../factory" class="my-4">
        <mat-icon color="accent">keyboard_backspace</mat-icon>
      </mat-list-item>
    </mat-nav-list>

    <router-outlet name="tournament"></router-outlet>
  </div>
</div>
